# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\bysj\django0uys6855\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
